@media screen and (max-width: 1157px) {
  .skills {
    display: none;
  }
  .description-item::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .address-item {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .mobile-link-tel {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4d5ae5;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title-top {
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 320px;
  }
  .container-team {
    width: 294px;
  }

  .description-title {
    text-align: center;
  }
  .page-header-container {
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  /* .container.page-header-container {
    max-width: 768px;
  } */
  .description-container {
    max-width: 766px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    display: flex;
  }
  .address-item {
    display: block;
  }
  .address-mail,
  .address-tel {
    font-style: normal;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .header .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: var(--color-time);
  }
  .line::after {
    content: "";
    display: flex;
    width: 100%;
    border: 2px solid rgba(64, 75, 191, 1);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .mobile-menu-open {
    display: none;
  }
  .header .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: var(--color-time);
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 120px;
  }
  .menu-item {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 22px;
    cursor: pointer;
  }
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../images2/hero-bg-tab.jpg);
    background-size: cover;
    background-color: var(--dark-color);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgb(46, 47, 66, 0.7),
          rgb(46, 47, 66, 0.7)
        ),
        url(../images2/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title-top {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .description-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .description-item {
    width: calc((100% - 24px) / 2);
  }
  .about {
    background-color: var(--light-color);
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
  .about-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .customer-list {
    column-gap: 24px;
  }
  .customer-item {
    width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }
  .container {
    max-width: 766px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-team {
    width: 582px;
  }
  .description-title {
    text-align: left;
  }
  .container-customers {
    width: 582px;
  }

  .customer-item {
    max-width: 168px;
    height: 88px;
    flex-basis: calc((100% - 24px) / 3);
  }
  .footer-container {
    width: 582px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .logo-container {
    text-align: left;
    max-width: 264px;
    margin-right: 24px;
  }
  .soc-footer {
    text-align: center;
  }
  .subscribe {
    max-width: 453px;
    text-align: left;
  }
  .online-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .online-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container.page-header-container {
    max-width: 1158px;
  }
  .address-list {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    width: 344px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 0;
  }
  .address-mail,
  .address-tel {
    display: flex;
    flex-wrap: nowrap;
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--time-and-cubic);
  }
  .container {
    max-width: 1158px;
  }
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../images2/bg.jpg);
    background-size: cover;
    background-color: var(--dark-color);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgb(46, 47, 66, 0.7),
          rgb(46, 47, 66, 0.7)
        ),
        url(../images2/bg-2x.jpg);
    }
  }
  .hero-title-top {
    font-size: 56px;
    margin-bottom: 48px;
  }
  .container-team {
    width: 1200px;
  }
  .description {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .description-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .description-item::before {
    display: block;
    content: "";
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .description-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 8px;
  }
  .about-item {
    flex-wrap: wrap;
    width: calc((100% - 3 * 24px) / 4);
  }
  .container-customers {
    width: 1158px;
  }
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .customer-item {
    max-width: 168px;
    height: 88px;
    flex-basis: calc((100% - 24px) / 6);
  }
  .mobile-menu-open {
    display: none;
  }
  .footer-container {
    width: 1158px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .logo-container {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .soc-footer {
    margin-right: 80px;
    margin-bottom: 0px;
  }
  .subscribe {
    margin-right: auto;
  }
  .online-input {
    margin-bottom: 0;
  }
  .footer-text {
    margin-bottom: 0;
  }
}
